# Dependencies
node_modules/
jspm_packages/
web_modules/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build/Production outputs
dist/
build/
out/
.next/
.nuxt/
bin/
obj/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db
db.properties
ehthumbs.db
Desktop.ini
.DS_Store

# Large media files
*.mp4
Nature s Garden Peace Video 1.mp4
